h1{
    text-align: center;
    color: crimson;
}

div{
    position: sticky;
    position: -webkit-sticky;/*Para que funcione con safari hay que agregar la corrección*/
    /*En cuanto el elemento sale del viewPort funciona de manera fija
    NO FUNCIONA EN EXPLORER*/
    /*Ideal para menus de navegación*/
    top: 0;
    border: 3px solid firebrick;
}

