h1{
    text-align: center;
    color: crimson;
}

div.contenedor{
    position: relative;
    border: 3px dashed greenyellow;
    width: 30%;
    margin: auto;
}

.imagen{
    width: 100%;
    opacity: 0.2; /*transparencia del 20%*/
}

div.centro{
    position: absolute;
    top: 50%;
    /*border: 1px solid blue;*/
    width: 100%; /*para que ocupe todo el ancho del contenedor y centrarlo*/
    text-align: center;
    font-size: 25px;
}